
.djet-univ-settings {

    .language-selection {

        margin-top: 1.5rem;
    }

    .select-controls {

        margin-top: 1.5rem;
    }

    .djet-univ-settings__textarea {

        width: 100%;
        height: 10rem;
    }

    .djet-univ-settings__langswitcher--hidden {

        display: none;
    }
}