
.djet-univ-settings {

    .language-selection {

        margin-top: 1.5rem;
    }

    .select-controls {

        margin-top: 1.5rem;
    }

    .djet-univ-settings__textarea {

        width: 50%;
        height: 10rem;
    }

    .djet-univ-settings__textarea--hidden {

        display: none;
    }

    
}


